@{
    ViewBag.Title = "Tentang";
}
<link href="~/css/about.css" rel="stylesheet" type="text/css" />

<div class="profil">
    <img src="../assets/img/SISCO.png" alt="photo">
    <div class="teksprofil">
        <h1>ARCO</h1>
        <h3>Artikel Corona</h3>
        <h5>
            ARCO adalah bagian artikel dari SISCO (Sistem Informasi Siaga Corona) yang bertujuan untuk mengedukasi masyarakat tentang seberapa
            bahayanya virus corona serta berbagai tips dan trik gaya hidup sehat selama masa pandemi.
        </h5>
    </div>
</div>