@{
    ViewBag.Title = "Anggota";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div style="display:flex; padding:10%; justify-content: space-between;">
    <div class="card" style="width: 18rem;border-radius:3px;padding:2%;background-color:rgb(255, 160, 160)">
        <img style="width:100%" class="card-img-top" src="~/assets/img/dafa.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">R. Dafa Berlian Denmar</h5>
            <p class="card-text">Mahasiswa Informatika ITS</p>
            <br>
            <a href="https://kaori02.github.io/quiz1/profile/" class="btn btn-primary">Cek selengkapnya</a>
        </div>
    </div>

    <div class="card" style="width: 18rem; border-radius:3px;padding:2%;background-color:rgba(53, 162, 32, 0.34)">
        <img style="width:100%" class="card-img-top" src="~/assets/img/aulgay.jpg" alt="Card image cap">
        <div class="card-body">
            <br>
            <h5 class="card-title">Aulia Ihza<br>Hendradi</h5>
            <p class="card-text">Mahasiswa Informatika ITS</p>
            <br>
            <a href="https://aulkiller.github.io/quiz1/profile/" class="btn btn-primary">Cek selengkapnya</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;border: 0.2px ;border-radius:3px; padding:2%;background-color:rgba(39, 164, 234, 0.26)">
        <img src="~/assets/img/nard.jpg" class="card-img-top" alt="nard" style="width:100%">
        <div class="card-body">
            <h5 class="card-title">Feinard</h5>
            <p class="card-text">Mahasiswa Informatika ITS</p>
            <br>
            <a href="https://feinardslim.github.io/quiz1/profile/" class="btn btn-primary">Cek selengkapnya</a>
        </div>
    </div>
</div>

<address>
    Jl. Teknik Kimia - Gedung Departemen Teknik Informatika<br />
    <br />
    Kampus Institut Teknologi Sepuluh Nopember Surabaya<br />
    <br />
    Jalan Raya ITS, Sukolilo, Surabaya 60111, Indonesia<br />
    <br />
    <abbr title="Phone">Phone:+62-31-5939212, 5995581, 5994251 (ext 1445, 1446)</abbr> <br><br />
    <abbr title="Phone">Fax : +62-31-5913804</abbr><br />
</address>

<address>
    <strong>Informatika:</strong>   <a href="https://its.ac.id/informatika">if.its.ac.id</a><br />
    <strong>ITS:</strong>   <a href="https://its.ac.id">its.ac.id</a><br />
</address>